<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MongoScrapper</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="public/css/style.css">
</head>

<body>

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper grey darken-3">
        <a href="/" class="brand-logo"><i class="material-icons">loop</i> Paper Scraper</a>
        <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="https://www.theatlantic.com/" target="_new">The Atlantic Daily</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- For Mobile Nav Bar -->
  <ul class="side-nav darken-3" id="mobile-demo">
    <li><a href="https://www.theatlantic.com/" target="_new">The Atlantic Daily</a></li>
  </ul>


  <!-- Page Content -->
  <main>

    <!-- Site Info Container -->
    <div class="container">
      <ul class="collection with-header">
        <li class="collection-header grey lighten-2">
          <h4><b>Welcome to Paper Scraper!</b></h4></li>
        <li class="collection-item">This application lets you read and comment on news articles that were scrapped from the web.</li>
        <li class="collection-item">
          <div>Click <i class="material-icons">loop</i> in the navbar to re-scrape data.</div>
        </li>
        <li class="collection-item">
          <div>Click <i class="material-icons">language</i> to view an article.</div>
        </li>
        <li class="collection-item">
          <div>Click <i class="material-icons">comment</i> to add a comment.</div>
        </li>
        <li class="collection-item">
          <div>Click <i class="material-icons">thumbs_up_down</i> to read comments.</div>
        </li>
      </ul>
    </div>


    <!-- Render All Articles -->
    <div class="container">
      {{{body}}}
    </div>

  </main>


  <!-- Footer -->
  <footer class="page-footer grey darken-3">
    <div class="footer-copyright">
      <div class="container">
        © Author cannot claim copyright. All article data was web scraped from
        <a class="grey-text text-lighten-4" href="https://www.theatlantic.com/">www.theatlantic.com</a>
      </div>
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>

</html>